.LeftColumnProfile {
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ddd;
    height: 100%;
    width: 22%;
}

@media only screen and (max-width: 600px) {
    .LeftColumnProfile {
        margin: 0 auto;
    }
}