.banner-wrapper {
    background: #ffffff;
    //max-width: 1200px;
    padding: 20px;
    margin: auto;

    .ant-form-item {
        margin-bottom: 0 !important;
    }

    .banner-form {
        &--title {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #2D2D2D;
        }

        .ant-table-thead>tr>th {
            background: rgba(179, 30, 141, 0.1) !important;
        }

        thead {
            text-align: center !important;
        }

        td {
            border: none !important;
        }
    }

    .ant-upload-list {
        display: none !important;
    }
        .banner-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .tabbar-form-key {
            margin-right: 8px;
        }
    
        .btn_search {
            background-color: #D13D9E;
            border-color: #d13d9e;
            color: white;
    
            &.ant-btn-icon-only.ant-btn-lg {
                border-radius: 5px;
            }
    
            &:hover {
                background-color: #D13D9E;
                color: white;
                border-color: #d13d9e;
            }
    
            * {
                margin-top: 1px;
                font-size: 24px;
            }
    
            &:focus {
                background-color: #D13D9E;
                color: white;
                border-color: #d13d9e;
            }
        }
    
        .custom-table {
            margin-top: 30px;
    
            th {
                background-color: rgba(179, 30, 141, 0.1) !important;
            }
    
            table.fixed {
                table-layout: fixed;
            }
        }
        .search-wrap {
            display: flex;
            justify-content: end;
            align-items: center;
        }
        .input-search-discount {
            margin: 0 !important;
        }
        .button-search{
            margin: 0px !important
        }
        .tabbar-form {
            display: flex;

            >* {
                margin-left: 16px;
                // border-radius: 5px;
            }

            .ant-row {
                margin-left: 16px;
                margin-bottom: 0;
            }
        }
        .modal-brand-wrap>.ant-modal-content>.ant-modal-body {
            max-height: 60vh;
            overflow: auto;
        }
        .wishList-item {
            padding: 12px 0;
            border-bottom: 1px solid #e6e5e5;
        }
        .common-label--black {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            color: #262626;

            display: block;
            margin-bottom: 8px;
        }
        .divider-custom {
            margin-top: 8px !important;
            margin-bottom: 10px !important;
            border-top-color: #d0c5d5 !important;
        }
    .moreIcon {
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #828282;
        &.ant-popover-open {
            background-color: var(--color-aeon);
            color: white;
        }

        svg {
            fill: currentColor;
        }
    }
}
.create-center {
    float: right;
    margin-bottom: 19px;
    display: flex;
    justify-content: end;
}

.btnBack{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-admin-course{
    padding: 30px 24px !important;
}
.activeCheck .ant-form-item-control{
    margin: 0px !important;
}
.activeDisabled{
    pointer-events: none;
}
.site-detail-course-admin{
    padding: 50px 86px !important;
}
.btnCreateLesson{
    background-color: green;
}
.news-content-editor {
    height: 500px;
    // margin-bottom: 50px;
}
