$primaryColor: #7757a8;
.Course-detail{
    min-width: 100vh;
    .StartButton {
        max-width: 210px;
        text-align: center;
        text-decoration: none;
        background-color: #4cd137;
        color: #fff;
        padding: 7px 20px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.16), inset 0px -2px 7px 0px rgba(0, 0, 0, 0.1),
            inset 0px 2px 0px 0px rgba(255, 255, 255, 0.3);
        font-size: 1em;
        user-select: none;
        line-height: 1em;
    }

    .RemoveButton {
        max-width: 180px;
        text-align: center;
        text-decoration: none;
        background-color: #ff5253;
        color: #fff;
        padding: 7px 20px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.16), inset 0px -2px 7px 0px rgba(0, 0, 0, 0.1),
            inset 0px 2px 0px 0px rgba(255, 255, 255, 0.3);
        font-size: 0.9em;
        user-select: none;
    }

    .Disabled {
        cursor: default !important;
        filter: grayscale(100%) opacity(0.6);
    }

    .SecondHeader {
        background-color: white;
        border-bottom: solid 1px #e6e6e6;
    }

    .Row {
        margin: auto;
        padding: 20px 0px;
        max-width: 950px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .EditBtn {
        background-image: linear-gradient(-180deg, #fff 0%, #f4f4f4 100%);
        border: 1px solid #cdcdcd;
        font-size: 0.9em;
        color: #696464;
        padding: 7px 20px;
        cursor: pointer;
        border-radius: 5px;
    }

    .ProgressDiv {
        margin: 30px auto 30px auto;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 5px;
        max-width: 950px;
        padding: 20px;
        box-sizing: border-box;
    }

    .ProgressBar {
        margin-top: 15px;
        border-radius: 4px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06) inset;
        background-color: #f7f7f7;
        height: 10px;
        margin-bottom: 4px;
    }

    .Progress {
        height: 100%;
        border-radius: 4px;
        background-color: #4cd137;
    }

    .LearnBtn {
        margin-top: 15px;
        max-width: 120px;
        line-height: 14px;
        text-align: center;
        text-decoration: none;
        background-color: #4cd137;
        color: #fff;
        padding: 7px 20px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.16), inset 0px -2px 7px 0px rgba(0, 0, 0, 0.1),
            inset 0px 2px 0px 0px rgba(255, 255, 255, 0.3);
        font-size: 0.9em;
        user-select: none;
    }

    .CourseCompleted {
        margin-top: 5px;
        color: #83c53d;
        font-weight: 600;
        font-size: 0.9em;
    }
    .startCourse {
        width: 200px;
        border-radius: 5px;
        margin-top: 15px;
        /* background-color: yellow; */
        background-color: #ffc000;
        color: #2c3445;
        border: none;
        font-size: 18px;
        font-weight: bold;
        line-height: 18px;
    }

}
.wrapCourseCreate {
    width: 70%;
    background-color: white;
    margin-top: 20px;
        padding: 40px 40px;
}

.imgCourseEdit{
    width: 270px;
    height: 270px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    // border-radius: 5px;
}
.imgWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin-top: 20px;
        // padding: 40px 40px;
}
.formEditInfor{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 950px;
    margin: auto;
}
.formQuestions{
    margin: 30px auto 60px auto;
    padding: 20px 30px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 950px;
    .HeaderFormQuestion{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .ImportBtn {
        margin-bottom: 5px;
        width: 200px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .label-upload {
        cursor: pointer;
        padding: 5px 20px;
    }
    .CreateExam{
        border-radius: 6px;
        width: 120px;
    }
    .FormCreate{
        padding: 0px 60px;
    }
    .showCreate{
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .showCreate:hover, .showCreateIcon:hover{
        color: $primaryColor;
    }
    .showCreateIcon{
        font-size: 16px;
        color: gray;
        margin-left: 8px;
    }
    .ImportWrapper{
        display: flex;
        flex-direction: column;
        // align-items: center;
    }
    
}
 .RemoveBtn {
     width: 20px;
     height: 20px;
     background-image: url('../../../assets/icons/baseline-delete_forever.svg');
     cursor: pointer;
     /* visibility: hidden; */
     filter: opacity(0.7);
     margin: 0px 6px;
 }
.iconEye{
    width: 40px;
    color: grey;
    margin: 0px 10px !important;
}
.FlashCard{
    .card-holder {
        display: flex;
        justify-content: center;
    }

    .card {
        margin: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
        background-color: white;
        height: 300px;
        width: 300px;
        transform: rotateY(var(--rotate-y, 0));
        transform-style: preserve-3d;
        transition: 1500ms;
        cursor: pointer;
        transform: perspective(5000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    }

    .card:hover {
        --translate-y: -2px;
        --rotate-y: 180deg;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    }

    .front,
    .back {
        position: absolute;
        padding: 1rem;
        color: black;
        backface-visibility: hidden;
        transform: rotateX(0deg)
    }

    .front {
        font-size: 30px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .front p {
        text-align: center;
    }

    .front p:first-child {
        background-color: green;
        color: white;
        width: 50px;
        border-radius: 50px;
        font-size: 20px;
        padding: 10px;
    }

    .back {
        transform: rotateY(180deg);
        // width: 100%;
        margin: auto;
        height: 100%;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-items: center;
        padding: 15px;
    }
}
.action-buttons {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 20%;
    margin: auto;
}
.prev-next-btns{
    width: 112px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FlashCardWrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin: auto;
}
