.ExamHead{
	.PageHeadExam {
		// min-height: 150px;
		z-index: 10;
		background-color: white;
		display: flex;
		flex-direction: row;
		justify-content: center;
		border-bottom: solid 1px #e6e6e6;
		color: white;
		position: fixed;
		top: 0;
		width: 100%;
		max-width: 100%;
	}

	.PageHeadExam1 {
		// min-height: 150px;
		background-color: white;
		display: flex;
		flex-direction: row;
		justify-content: center;
		border-bottom: solid 1px #e6e6e6;
		color: white;
		width: 100%;
		max-width: 100%;
	}

	.PageHeadRow {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
		margin: auto;
		padding: 12px 30px;
		max-width: 1008px; // margin: 0 0 0 20px;
		// height: 120px;
	}

	.PageHeadRow1 {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
		margin: auto;
		// height: 120px;
		padding: 15px 30px;
		max-width: 1008px // margin: 0 0 0 20px;
	}

	.CourseDetails {
		width: 580px;
		display: flex;
		flex-direction: column;
		padding-right: 20px;
		margin-left: 15px;
	}

	.TitleCourse {
		font-weight: 700;
		font-size: 30px;
		width: 100%;
		text-shadow: 0 2px 4px rgb(0 0 0 / 16%);
		color: #fff;
		margin-top: 0px !important;
		margin-bottom: 10px !important;
	}
	.TitleCourseEdit{
		font-weight: 700;
		font-size: 20px;
		width: 100%;
		text-shadow: 0 2px 4px rgb(0 0 0 / 16%);
		color: #fff;
	}

	.Description {
		word-wrap: break-word
	}

	.CreatedByDiv {
		display: flex;
		flex-direction: column;
		text-align: end;
	}

	.divider-custom {
		margin-top: 8px !important;
		margin-bottom: 10px !important;
		border-top-color: #f0f2f5 !important;
	}

	.CreatedBySpan {
		font-size: 0.8em;
		opacity: 0.7;
	}

	.Owner {
		width: 100%;
		text-align: end;
			font-weight: bold;
		}
		
	.imgCourseDetail {
		height: 150px;
		width: 150px;
		padding: 1px;
		box-sizing: border-box;
		background-color: #fff;
		border-radius: 5px;
	}
	.imgCourseDetailEdit{
		height: 40px;
			width: 40px;
			padding: 1px;
			box-sizing: border-box;
			background-color: #fff;
			border-radius: 5px;
	}
	.course-detail-wrapper {
		width: 100%;
		display: flex;
		justify-content: start;
	}
	.course-detail-wrapper1 {
		width: 95%;
		display: flex;
		justify-content: start;
	}

	.course-detail-wrapper-edit {
		display: flex;
		justify-content: start;
		align-items: center;
	}

	.CloseButton {
		width: 25px;
		height: 25px;
		background-image: url('../../assets/icons/icon-session-quit.png');
		background-repeat: no-repeat;
		background-position: 0% 100%;
		background-size: 100% auto;
		cursor: pointer;
	}
	.itemFormExam{
		margin-bottom: 4px !important;
	}

	.itemFormExam1 .ant-row{
		align-items: center;
	}
	.itemFormExam1{
		margin: 0 !important;
	}

	.titleExamOnline{
		font-size: 20px;
		font-weight: 700;
	}
	.btnStartExam, .btnStartExam:hover{
		float: right;
		width: 150px;
		color: white;
		border-radius: 6px;
		background-color: #6c4f74;
		border-color: #6c4f74;
	}
	.countdown{
		font-size: 25px;
		font-weight: bold;
	}
}