$primaryColor: #8C55AA;
.Content {
  box-sizing: border-box;
  padding: 62px 0;
  width: 100%;
  min-height: 100vh;
  background-position: 0% 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.62);
}

.WhiteBox {
  margin: 50px auto;
  margin-bottom: 0;
  width: 60%;
  max-width: 80%;
  background-color: white;
  border-radius: 10px;
  padding: 30px 50px 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imgLogin {
  min-width: 291px;
  min-height: 290px;
}

.wrapLogin {
  width: 50%;
}

.LoginTitle {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #3E3E3E;
  margin-bottom: 20px;
}

.Label {
  font-weight: bold;
  font-size: 0.9em;
  color: #3E3E3E;
  margin-top: 10px;
  margin-bottom: 5px;
}

.Input {
  width: 100%;
  font-size: 16px;
  height: 44px;
  border-radius: 6px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  padding: 11px 18px;
  color: #3E3E3E;
  outline-color: #80008063;
}

.LoginButton {
  margin: 40px 0 20px 0;
  background-color: green;
  color: #fff;
  border: 1px solid #699f30;
  background-color: #83ca38;
  height: 47px;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.ErrorMessage {
  color: red;
  font-size: 0.8em;
}

.Error {
  border: 1px solid rgba(255, 0, 0, 0.7);
}