.custom-dropdown {
    &.ant-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        .custom-age-value {
            color: #d13d9e;
        }
    }

    &.ant-btn:focus,
    &.ant-btn:hover,
    &.ant-btn:active {
        border-color: #d13d9e;
        color: #000;
    }
}

.custom-slider:hover {
    .ant-slider-track {
        background-color: #d13d9e;
    }
}
.slider-tooltip {
    .ant-tooltip-inner {
        background-color: transparent;
        box-shadow: none;
        color: #d13d9e;
        font-size: 1.15em;
        padding: 0;
        font-weight: 600;
        min-height: 0px;
    }
    .ant-tooltip-arrow-content {
        background-color: transparent;
    }
}
.custom-slider {
    margin-left: 20px;
    margin-top: 40px;
    width: 80%;
    .ant-slider-rail {
        background-color: #e0e0e0;
    }
    .ant-slider-track {
        background-color: #d13d9e;
    }
    .ant-slider:hover .ant-slider-track:hover {
        background-color: #d13d9e;
    }
    .ant-slider-handle {
        border-color: #ffffff;
        background-color: #ffffff;
        box-sizing: border-box;
        /* drsd */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    .ant-slider-handle.ant-tooltip-open {
        border-color: #ffffff;
        background-color: #ffffff;
        box-sizing: border-box;
        /* drsd */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
        border-color: #ffffff;
    }
    .ant-slider-handle-dragging:active {
        border-color: #d13d9e;
    }
    .ant-slider-handle::selection {
        border-color: #d13d9e;
    }
    .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
        border-color: #d13d9e;
    }
}
