.ItemRating {
    --color: var(--color-light-yellow);
    --color-inactive: var(--color-light-gray);
    --size: 16px;
    display: inline-flex;
    height: var(--size);
    &-item {
        &:not(:last-child) {
            margin-right: calc(var(--size) / 2);
        }
        &.is-activated {
            svg {
                fill: var(--color);
            }
        }
        svg {
            fill: var(--color-inactive);
        }
    }
    #half_grad {
        stop {
            stop-color: var(--color);
            &:last-child {
                stop-color: var(--color-inactive);
            }
        }
    }
}
